Options +FollowSymlinks
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php/$1 [L]

<filesMatch "\.(flv|gif|jpg|jpeg|png|ico|swf|js|css)$">
	Header set Cache-Control "max-age=2592000, public"
</filesMatch>

AddDefaultCharset utf-8

